body {

    }
    #calculator{ 

    }

    #fieldLeft{
      height: 40px;
      width: 60px;
      /*margin-top: 5px;*/
      
    }
    #operand{
      height: 40px;
      width: 30px;
      /*margin-top: 10px;*/
      
    }
    #fieldRight{
      height: 40px;
      width: 60px;
      /*margin-top: 10px;*/

    }
    #button{

    }
