/* TODO: ADJUST FOR SCREEN SIZE <950 WIDE. */
/* TODO: Add background image for body of site 
 * then make boxes for form and display transparent half or so
 * to empower viewing of the soft image. */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    font-family: Verdana, sans serif;
    font-size: large;
}

.container {
    margin: auto;
    max-width: 60%;
}

.row {
    width: 90%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row .spacerRow {
	background-color: white;
}

.three-fourths {
    width: 75%;
}

/* Q: Why won't the text align in the header? */
.row:nth-child(1) {
	text-align: center;
}

.row:nth-child(2) {
	text-align: right;
}

.row:nth-child(3) {
	text-align: right;
}
.column {
    float: left;
    padding: 10px;
    width: 100%;
    border-top: 1px solid black;
}

.one-third {
    width: 33.3%;
}

.one-sixth {
    width: 16.66%;
}

#headersCol0, #headersCol1, #headersCol2, #headersCol3 {
	font-weight: bold;
	background-color: #EEEAE1;
}

#headersCol0 {
	text-align: left;
}

#headersCol1 {
	text-align: center;
}

/* Why did I lose color in the lower rows? */
.col4 {
	background-color: #EEEAE1;
	font-weight: bold;
}

.items > .col0, .col1, .col2 {
	background-color: white;
}

/* Q: Why would the numbers not move right? */
/*.row:last-child {
	text-align: right;
}*/

input, button {
	border-radius: 10px;
}

/* nicely responsive */
button {
	margin-top: 20px;
	background-color: green;
	font-weight: bold;
	color: white;
}

/* long-term question? TODO: Responsive padding? */
.quantityCells {
	padding: 8px;
	/*padding-right: 10px;*/
}

#quantityEditable {
	width: 80%;
	margin-right: 10px;
	text-align: center;
}



