/* EXERCISE 3.0 LAYOUTS */
/* EXERCISE 2.0 LAYOUTS bonus, layouts-right, html */
/* NEEDS WORK */

body {
	background-color: #000000;
	width: 100%;
}


nav {
	margin-top: 0;
	height: 50px;
	background-color: #000000;
	color: #E3C6FB;
	border-bottom: 1px grey solid;
}

.nav-link {
	list-style-type: none;
	width: 120px;
	height: 50px;
	padding-top: 13px;
	font-weight: bold;
	float: left;
}

aside {
	display: inline-block;
	background-color: #000;
	height: 1210px;
	margin-right: 0px;
	padding: 50px 30px 30px 30px;
	border-radius: 3px;
	float: left;
	color: white;
}

.aside-section1>p {
	margin: 0;
	padding: 0.5rem;
}
.aside-section1>p:last-child {
	padding-bottom: 3rem;
	border-bottom: 1px solid grey;
}

h1 {
	color: #E3C6FB;
}
h3 {
	margin-top: 0.5rem;
	padding-top: 0.5rem;
	border-top: 1px grey solid;
	color: #E3C6FB;
}
a  {
	color: grey;
	text-decoration: none;
	font-size: 1.5rem;
}
a:hover {
	color: #E3C6FB;
}
.aside-section2 {
	padding-top: 2.5rem;
	color: grey;
	padding-bottom: 0;
	margin-bottom: 0;
}

main {
	display: inline-block;
	text-align: center;
}

.image-container {
	padding: 0;
	margin: 0;
	width: 100%;
}

section {
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	color: white;
}

.aside-2 {

}


footer {
	color: #E3C6FB;
}
