html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
	background-color: #E7E7E7;
}


nav {
	margin: 0;
	width: 100%;
	height: 3rem;
	background-color: #E7E7E7;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/*above three per W3c school for navbar code*/
	width: 100%;
}

nav>ul>li {
	float: left;
	display: inline;
	padding-top: 10px;
	color: #777;
	text-decoration: underline;
}
#logo {
	margin-left: 20px;
	text-decoration: none;

}

a {
	display: block;
    width: 120px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
    /* appears the default height is 30px */
}

a:hover {
	background-color: #87BCF3;
}

.image-container {
	background-color: black;
	padding: 0;
}
img {
	display:  block;
	margin: 0 auto;
}
.image-headline {
	font-size: 2rem;
	color: #F3F3F3;;
	text-align: center;
}

form {
	background-color: grey;
}

/*input,
select {
	font-size: 1rem;
	padding: 5px;
	margin-right: 25px;
}*/
#email, #zip, #state, #submit {
	font-size: 1rem;
	padding: 5px;
	margin-right: 25px;
}
 





aside {
	color: #777;
}


footer {
	margin-top: 20px;
	width: 100%;
	height: 10rem;
	padding: 2rem;
	background-color: #1B2F90;
}
footer>p {
	text-align: center;
	color: #F3F3F3;
}

