#container {
	width: 800px;
	margin: 0 auto;
	background-color: #9EEAFA;
	padding: 15px;
}

#row-forecast {
	height:205px;
	top: 200px;
	background-color: #E9ECEC;
}
.weatherboxes {
	width: 256px;
	height: 205px;
	background-color: #E9ECEC;
	top: 80px;
	border: 2px solid black;
	text-align: center;
	float: left;

}

p {

}

.bold {
	font-weight: bold;
}

#temp {
	font-size: 20px;
	top: 15px;
	bottom: 0px;
}

#image {
	height: 25px;
	top: 0px;
}


