<!DOCTYPE html>
<html ng-app="modelTest">
<head>
     <title>design your card</title>
     <meta charset="utf-8">
     <style type=“text/css”>
     [ng-cloak] {
          display: none !important;
     }
     </style>
</head>
<body ng-cloak>

     <script type="text/javascript" src="/js/angular.min.js"></script>
     <script type="text/javascript" src="/js/modelTest.js"></script>

     <h1>Design Your Card</h1>

	<form id="contactCardForm" action="model-test.html">
          <label for="firstName" >First Name</label>
          <input id="firstName" name="firstName" type="text" ng-model="user.firstName">
          <label for="lastName" >Last Name</label>
          <input id="lastName" name="lastName" type="text" ng-model="user.lastName">
          <label for="email" >Email</label>
          <input id="email" name="email" type="text" ng-model="user.email">
          <label for="dateOfBirth" >Date of Birth</label>
          <input id="dateOfBirth" name="dateOfBirth" type="text" ng-model="dateOfBirth" placeholder="mm/dd/yyyy">
          <label for="github" >Github Link</label>
          <input id="github" name="github" type="text" ng-model="github">
          <label for"imageList">Choose Your Favorite Sport</label>
          <select id="image" name="contactCard" ng-model="image">
               <option value="/img/256Football.png">Football</option>
               <option value="/img/256AsSeenOnTv.png">Television</option>
               <option value="/img/256Hogwarts">Quidditch</option>
          </select>

          <!-- end of form -->
     <div class="displayCard">
          <p > {{ user.firstName}} {{ user.lastName }}</p>


     </div>

     </form>
</body>
</html>
